name: author-check
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install
        run: make install
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.testing', '.env');"
      - name: Generate key
        run: php artisan key:generate --env=testing
      - name: Run linter
        run: make lint
      - name: Create Database
        run: |
          touch database/database.sqlite
          php artisan migrate
      - name: Launch Vite
        run: |
          npm install
          npm run build
      - name: Run tests
        run: composer exec --verbose phpunit tests
      - name: Run test & publish code coverage
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          XDEBUG_MODE: coverage
        with:
          coverageCommand: composer exec --verbose phpunit tests -- --coverage-clover build/logs/clover.xml
          debug: true
